---
import { parseBibFile } from '../utils/parseBib';

const bibData = parseBibFile('./src/data/ACOUSPHEM_Papers_2024.bib');

// Agrupar publicaciones por a침o
const publicationsByYear = bibData.reduce((acc, pub) => {
  const year = pub.entryTags.YEAR;
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(pub);
  return acc;
}, {});

// Ordenar a침os de m치s reciente a m치s antiguo
const sortedYears = Object.keys(publicationsByYear).sort((a, b) => b - a);
---

<div>
  {sortedYears.map(year => (
    <div>
      <h2>{year}</h2>
      <ul>
        {publicationsByYear[year].map(pub => (
          <li>
            {pub.entryTags.AUTHOR}, "{pub.entryTags.TITLE}" {pub.entryTags.JOURNAL}, {pub.entryTags.VOLUME}, {pub.entryTags.PAGES} , ({year})
          </li>
        ))}
      </ul>
    </div>
  ))}
</div>