---
import Layout from '~/layouts/PageLayout.astro';
import WidgetWrapper from "~/components/ui/WidgetWrapper.astro";
import { parseBibFile } from '../utils/parseBib';
import Headline from "~/components/ui/Headline.astro";

const metadata = {
  title: 'Publications',
};

const bibData = parseBibFile('./src/data/ACOUSPHEM_Papers_2024.bib');

/*
const bibData =[
  {
    citationKey: 'JOU24B',
    entryType: 'ARTICLE',
    entryTags: {
      AUTHOR: 'Boutin, C. and Venegas, R.',
      TITLE: 'Acoustics of wet porous media with evaporation/condensation',
      JOURNAL: 'Physics of Fluids',
      VOLUME: '36',
      NUMBER: '10',
      PAGES: '103113',
      YEAR: '2024',
      MONTH: '10',
    }
  },
] */ 

const classifiedData = [
{
  type: 'Journal publications',
  id: 'JOU',
  pubs: bibData.filter(entry => entry.citationKey.startsWith('JOU')),
},
{
  type: 'Invited talks',
  id: 'ICON',
  pubs: bibData.filter(entry => entry.citationKey.startsWith('ICON')),
},
{
  type: 'Seminars',
  id: 'SEM',
  pubs: bibData.filter(entry => entry.citationKey.startsWith('SEM')),
},
{
  type: 'Conferences',
  id: 'CON',
  pubs: bibData.filter(entry => entry.citationKey.startsWith('CON')),
},
];

interface Props {
  id?: string;
  isDark?: boolean;
  classes?: Record<string, string>;
  bg?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
}

const {
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
  title = "ACOUSPHEM Publications",
  subtitle = "See our publications, which are categorized into journal publications, invited talks, seminars, and conferences.",
  tagline = "Publications",
} = Astro.props;
---

<Layout metadata={metadata}>


<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-6xl mx-auto ${classes?.container ?? ""}`}
  bg={bg}
>  
<Headline title={title} subtitle={subtitle} tagline={tagline} />
<div>
  {classifiedData.map(({ type, id ,pubs }) => (
   ( pubs.length > 0 &&
      <div id={id} class="mb-10">
        <h2 class="text-3xl font-bold my-2">{type}</h2>
        <ol class="px-6 space-y-3 list-decimal" reversed>
          {pubs.map(pub => (
            <li class="text-lg" id={pub.citationKey}>
                {pub.entryType == 'ARTICLE' ? (
                  <span>
                    {pub.entryTags.AUTHOR}
                    "{pub.entryTags.TITLE}",
                    {pub.entryTags.JOURNAL && ` ${pub.entryTags.JOURNAL}`}
                    {pub.entryTags.VOLUME && `${pub.entryTags.VOLUME}`}
                    {pub.entryTags.NUMBER && `(${pub.entryTags.NUMBER})`}
                    {pub.entryTags.PAGES && `, ${pub.entryTags.PAGES}`}
                    ({pub.entryTags.YEAR}).
                  </span>
                ) : pub.entryType == 'INPROCEEDINGS' ? (
                  <span>
                    {pub.entryTags.AUTHOR}
                    "{pub.entryTags.TITLE}",
                    {pub.entryTags.BOOKTITLE && ` ${pub.entryTags.BOOKTITLE}`}
                    {pub.entryTags.PAGES && `, ${pub.entryTags.PAGES}`}
                    {pub.entryTags.ADDRESS && `, ${pub.entryTags.ADDRESS}`}
                    {pub.entryTags.MONTH && `, ${pub.entryTags.MONTH}`}
                    ({pub.entryTags.YEAR}).
                    {pub.entryTags.HOST && ` Host: ${pub.entryTags.HOST}`}
                  </span>
                ) : null}
              
                {pub.entryTags.DOI ? (
                    <a href={`https://doi.org/${pub.entryTags.DOI}`} target="_blank" rel="noopener noreferrer" class="text-blue-600 dark:text-blue-400 underline">
                    [DOI]
                  </a>
                ) : pub.entryTags.URL ? (
                  <a href={pub.entryTags.URL} target="_blank" rel="noopener noreferrer" class="text-blue-600 dark:text-blue-400 underline">
                    [DOI]
                  </a>
                ) : null}
            </li>
          ))}
        </ol>
      </div>
    )
  ))}
</div>
</WidgetWrapper>

</Layout>

